/* GENERAL */

body {
  font-family: "IBM Plex Sans";
  background-color: #f3f5f5;
  font-size: 14px;
}

.wrapper {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
}

h1 {
  font-family: "Stratos Deliveroo Web";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
}

h3 {
  font-size: 18px;
  margin-bottom: 1rem;
}

/* HEADER */

header {
  background-color: white;
}

.topBar {
  height: 60px;
}

.topBarCenter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topBar img {
  height: 70%;
}

.restoInfosCenter {
  padding: 30px 0px;
  display: flex;
  gap: 40px;
}

.restoInfosCenter p {
  font-size: 19px;
  line-height: 30px;
  color: #868a8a;
}

.restoInfosCenter > img {
  width: 350px;
  border-radius: 5px;
}

/* MAIN */

main {
  background-color: #f3f5f5;
  width: 100vw;
}

.menu {
  flex: 1 1;
  margin-right: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.mealContainer {
  display: flex;
  width: 50%;
  padding: 0 10px 25px;
}

.mealItem {
  background-color: white;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  height: 160px;
}

.mealItem:hover {
  cursor: pointer;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}

.mealInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 15px;
}

.mealDescription {
  font-size: 14px;
  line-height: 1.3rem;
  color: #808484;
  overflow: hidden;
  height: 2.6rem;
  margin-bottom: 1rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 17px;
}

.popular {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #fa7f00;
}

.popular i {
  font-size: 18px;
  margin-right: 5px;
}

.mealPicture {
  height: 130px;
  width: 130px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

.mealPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BASKET */

.basket {
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  position: sticky;
  top: 30px;
}

.validateCart {
  background-color: #2ccdbd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: inherit;
  font-weight: bold;
}

.disabled {
  background-color: #bac3c3;
  color: #8b9a9b;
  cursor: not-allowed;
}

.basketEmpty {
  align-self: center;
  padding: 3rem;
  color: #868a8a;
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #d1d7d7;
  padding: 20px 0;
}

.item {
  display: flex;
}

.item i {
  color: #2ccdbd;
}

.counter {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  margin-right: 5px;
}

.item .itemTitle {
  flex: 1;
}

.subTotal {
  border-bottom: 1px solid #d1d7d7;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem 0;
}

.subTotal > div {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 19px;
  font-weight: bold;
}

.right {
  width: 85px;
  text-align: right;
}

/* BASKET BOTTOM */

.basketBottom {
  display: none;
}

.hidden {
  display: none;
}

.basketBottomContainer {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0.8rem 0;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -5px 20px rgba(46, 51, 51, 0.07);
}

.seeBasket {
  background-color: #2ccdbd;
  color: white;
  width: 95%;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  font-size: inherit;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeBasket > div {
  background-color: #13b3a6;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.basketTopLine {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 1rem;
}

.basketBottomItems {
  width: 90%;
}
